.vertical {
    justify-content: center;
}

.vertical_alternating {
    justify-content: center;
}

@media only screen and (max-width: 578px) {
    div.vertical-item-row > div:nth-child(1) {
        width: 20% !important;
    }
    div.vertical-item-row > div:nth-child(2) {
        width: 65% !important;
    }
    div.vertical-item-row > div:nth-child(3) {
        width: 15% !important;
    }
}

.pIwVL{
    text-align: center !important;
}

.zjwPc{
    text-align: center !important; 
}

.kcMlB{
    text-align: center !important;    
}

.epwPFa{
    text-align: center !important;    
}

.hzgEMv{
    text-align: center !important;    
}

.dbtDFz{
    text-align: center !important;    
}

.jdjPQC{
    text-align: center !important;  
}

.epwPFa{
    text-align: center !important; 
}

.hHazqK{
    text-align: center !important; 
}